<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, magni!
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Seay To Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nihil
        quam laborum sapiente a dolorum recusandae maxime rerum delectus libero.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy@1x.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/easy@1x.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="/images/easy.jpg" alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply fast websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nihil
        quam laborum sapiente a dolorum recusandae maxime rerum delectus libero.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/fast@1x.webp 1x, images/fast@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/fast@1x.jpg 1x, images/fast@2x.jpg 2x"
      />
      <img class="feature__image" src="/images/fast.jpg" alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">WordPress made easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nihil
        quam laborum sapiente a dolorum recusandae maxime rerum delectus libero.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/WordPress@1x.webp 1x, images/WordPress@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/WordPress@1x.jpg 1x, images/WordPress@2x.jpg 2x"
      />
      <img class="feature__image" src="/images/wordpress.jpg" alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nihil
        quam laborum sapiente a dolorum recusandae maxime rerum delectus libero.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/Support@1x.webp 1x, images/Support@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/Support@1x.jpg 1x, images/Support@2x.jpg 2x"
      />
      <img class="feature__image" src="/images/support.jpg" alt="" />
    </picture>
  </article>
</section>
