<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/CSS/normalize.css" />
    <link rel="stylesheet" href="/CSS/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav class="nav collapsible">
        <a class="nav__brand" href="/">
          <img src="/images/logo.svg" alt="Logo" />
        </a>
        <svg class="icon icon--white nav__toggler">
          <use xlink:href="images/sprite.svg#menu"></use>
        </svg>
        <ul class="list nav__list collapsible__content">
          <li class="nav__item"><a href="#">VPS</a></li>
          <li class="nav__item"><a href="#">Hosting</a></li>
          <li class="nav__item"><a href="#">Domain</a></li>
          <li class="nav__item"><a href="#">Pricing</a></li>
        </ul>
      </nav>
    </header>
    <section class="block block--dark block--skewed-left hero">
      <div class="container grid grid--1x2">
        <header class="block__header hero__content">
          <h1 class="block__heading">Cloud Hosting for Pros</h1>
          <p class="hero__tagline">
            Deploy your websites in less than 60 seconds.
          </p>
          <a href="#" class="btn btn--accent btn--stretched">Get Started</a>
        </header>
        <picture>
          <source
            type="image/webp"
            srcset="images/banner.webp 1x, images/banner@2x.webp 2x"
          />
          <source
            type="image/png"
            srcset="images/banner.png 1x, images/banner@2x.png 2x"
          />
          <img
            class="hero__image"
            src="images/banner.png"
            alt="Nice looking banner"
          />
        </picture>
      </div>
    </section>
    <section class="block container block-domain">
      <header class="block__header">
        <h2>Starting at $9 per month</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, nemo!
        </p>
      </header>
      <div class="input-group">
        <input
          type="text"
          class="input"
          placeholder="Enter domainname here..."
        />
        <button class="btn btn--accent">
          <svg class="icon icon--white">
            <use xlink:href="images/sprite.svg#search"></use>
          </svg>
          Search
        </button>
      </div>
      <ul class="list block-domain__prices">
        <li><span class="badge badge--secondary">.com $9</span></li>
        <li>.sg $10</li>
        <li>.space $12</li>
        <li>.info $14.15</li>
        <li>.net $16.15</li>
        <li>.xyz $10.15</li>
      </ul>
    </section>
    <section class="block container block-plans">
      <div class="grid grid--1x3">
        <div class="plan">
          <div class="card card--secondary">
            <header class="card__header">
              <h3 class="plan__name">Entry</h3>
              <span class="plan__price">$14</span>
              <span class="plan__billing-cycle">/month</span>
              <span class="badge badge--secondary badge--small">10% OFF</span>
              <span class="plan__description">Easy start on the cloud</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Unlimited Websites</li>
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Storage</li>
                <li class="list__item">3 GB RAM</li>
              </ul>
              <button class="btn btn--outline btn--block">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="plan plan--popular">
          <div class="card card--primary">
            <header class="card__header">
              <h3 class="plan__name">Entry</h3>
              <span class="plan__price">$14</span>
              <span class="plan__billing-cycle">/month</span>
              <span class="badge badge--primary badge--small">10% OFF</span>
              <span class="plan__description">Easy start on the cloud</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Unlimited Websites</li>
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Storage</li>
                <li class="list__item">3 GB RAM</li>
              </ul>
              <button class="btn btn--outline btn--block">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="plan">
          <div class="card card--secondary">
            <header class="card__header">
              <h3 class="plan__name">Entry</h3>
              <span class="plan__price">$14</span>
              <span class="plan__billing-cycle">/month</span>
              <span class="badge badge--secondary badge--small">10% OFF</span>
              <span class="plan__description">Easy start on the cloud</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Unlimited Websites</li>
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Storage</li>
                <li class="list__item">3 GB RAM</li>
              </ul>
              <button class="btn btn--outline btn--block">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
    </section>

    <section class="block container">
      <header class="block__header">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, magni!
        </p>
      </header>
      <article class="grid grid--1x2 feature">
        <div class="feature__content">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#easy"></use>
            </svg>
          </span>
          <h3 class="feature__heading">Super Seay To Use</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nihil
            quam laborum sapiente a dolorum recusandae maxime rerum delectus libero.
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
          <source
            type="image/webp"
            srcset="images/easy@1x.webp 1x, images/easy@2x.webp 2x"
          />
          <source
            type="image/jpg"
            srcset="images/easy@1x.jpg 1x, images/easy@2x.jpg 2x"
          />
          <img class="feature__image" src="/images/easy.jpg" alt="" />
        </picture>
      </article>
    
      <article class="grid grid--1x2 feature">
        <div class="feature__content">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#computer"></use>
            </svg>
          </span>
          <h3 class="feature__heading">Simply fast websites</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nihil
            quam laborum sapiente a dolorum recusandae maxime rerum delectus libero.
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
          <source
            type="image/webp"
            srcset="images/fast@1x.webp 1x, images/fast@2x.webp 2x"
          />
          <source
            type="image/jpg"
            srcset="images/fast@1x.jpg 1x, images/fast@2x.jpg 2x"
          />
          <img class="feature__image" src="/images/fast.jpg" alt="" />
        </picture>
      </article>
    
      <article class="grid grid--1x2 feature">
        <div class="feature__content">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </span>
          <h3 class="feature__heading">WordPress made easy</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nihil
            quam laborum sapiente a dolorum recusandae maxime rerum delectus libero.
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
          <source
            type="image/webp"
            srcset="images/WordPress@1x.webp 1x, images/WordPress@2x.webp 2x"
          />
          <source
            type="image/jpg"
            srcset="images/WordPress@1x.jpg 1x, images/WordPress@2x.jpg 2x"
          />
          <img class="feature__image" src="/images/wordpress.jpg" alt="" />
        </picture>
      </article>
    
      <article class="grid grid--1x2 feature">
        <div class="feature__content">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#settings"></use>
            </svg>
          </span>
          <h3 class="feature__heading">24/7 Expert Support</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nihil
            quam laborum sapiente a dolorum recusandae maxime rerum delectus libero.
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
          <source
            type="image/webp"
            srcset="images/Support@1x.webp 1x, images/Support@2x.webp 2x"
          />
          <source
            type="image/jpg"
            srcset="images/Support@1x.jpg 1x, images/Support@2x.jpg 2x"
          />
          <img class="feature__image" src="/images/support.jpg" alt="" />
        </picture>
      </article>
    </section>
    
    <section class="block block--dark block--skewed-right block-showcase">
      <header class="block__header">
        <h2>User Friendly Control Panel</h2>
      </header>
      <div class="container grid grid--1x2">
        <picture class="block-showcase__image">
          <source
            type="image/webp"
            srcset="images/ipad@1x.webp 1x, images/ipad@2x.webp 2x"
          />
          <source
            type="image/png"
            srcset="images/ipad@1x.png 1x, images/ipad@2x.png 2x"
          />
          <img src="images/ipad.png" alt="Ipad Screen" />
        </picture>
        <ul class="list">
          <li>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title">Easy start & Manage Updates</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
                  ipsa, facere architecto provident mollitia dignissimos officiis
                  obcaecati unde voluptatibus iure?
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#growth"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title">Easy start & Manage Updates</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
                  ipsa, facere architecto provident mollitia dignissimos officiis
                  obcaecati unde voluptatibus iure?
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#wordpress"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title">Easy start & Manage Updates</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
                  ipsa, facere architecto provident mollitia dignissimos officiis
                  obcaecati unde voluptatibus iure?
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    
    <section class="block">
      <header class="block__header">
        <h2 class="block__heading">
          What our Customers are Saying
        </h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum, dicta?
        </p>
      </header>
      <div class="container">
        <div class="card testimonial">
          <div class="grid grid--1x2">
            <div class="testimonial__image">
              <img src="/images/testimonial.jpg" alt="A happy, smiling customer" />
              <span class="icon-container icon-container--accent">
                <svg class="icon icon--white icon--small">
                  <use xlink:href="images/sprite.svg#quotes"></use>
                </svg>
              </span>
            </div>
            <blockquote class="quote">
              <p class="quote__text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
                quis ab facilis laboriosam dolorem vitae a ratione! Doloremque,
                accusamus atque.
              </p>
              <footer>
                <div class="media">
                  <div class="media__image">
                    <svg class="icon icon--primary quote__line">
                      <use xlink:href="/images/sprite.svg#line"></use>
                    </svg>
                  </div>
                  <div class="media__body">
                    <h3 class="media__title quote__author">Jhone Lumeo</h3>
                    <p class="quote__company-name">Mosh Company ceo</p>
                  </div>
                </div>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </section>
    
    <footer class="block block--dark footer">
      <div class="container grid footer__sections">
        <section class="collapsible collapsible--expanded footer__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Item 1</h2>
              <svg class="icon icon--black collapsible__chevron">
                <use xlink: href="images/sprite3.svg#chevron-down"></use>
              </svg>
           </header>
          <div class="collapsible__content">
            <ul class="list">
              <li><a href="#">WordPress Hostion</a></li>
              <li><a href="#">Free Automated WordPress</a><li>
              <li><a href="#">Migrations</a></li>
            </ul>
          </div>
        </section> 
    
        <section class="collapsible footer__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Item 2</h2>
              <svg class="icon icon--black collapsible__chevron">
                <use xlink: href="images/sprite3.svg#chevron-down"></use>
              </svg>
           </header>
          <div class="collapsible__content">
            <ul class="list">
              <li><a href="#">Affiliates</a><li>
              <li><a href="#">Blog</a><li>
              <li><a href="#">About</a><li>
            </ul>
          </div>
        </section> 
    
        <section class="collapsible footer__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Item 3</h2>
              <svg class="icon icon--black collapsible__chevron">
                <use xlink: href="images/sprite3.svg#chevron-down"></use>
              </svg>
           </header>
          <div class="collapsible__content">
            <ul class="list">
              <li><a href="#">Contact</a></li>
              <li><a href="#">Kbowledge Base</a></li>
              <li><a href="#">Forums</a></li>
            </ul>
          </div>
        </section> 
    
        <section class="collapsible footer__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Item 4</h2>
              <svg class="icon icon--black collapsible__chevron">
                <use xlink: href="images/sprite3.svg#chevron-down"></use>
              </svg>
           </header>
          <div class="collapsible__content">
            <ul class="list">
              <li><a href="#">Domain Checker</a></li>
              <li><a href="#">Domain Transfer</a></li>
              <li><a href="#">Free Domain</a></li>
            </ul>
          </div>
        </section> 
    
        <section class="footer__brand">
          <img src="images/logo.svg" alt="Nice Looking Logo">
          <p class="footer__copyright">Copyright &copy 2020  Mosh Hamedani </p>
        </section>
      </div> 
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>
